html
    head
        title=title
    body
        h1=welcome_msg
        //input(place_hoder="Search by name. Use space in between names to filter multiple items.")
        //button(value="Search" onclick)
        //table(border="1")
            each item in items
                tr=item
        
        p.
            Dont like jade pug js so will learn websockets and do this with it.
            